@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400..700&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
    border:  none;
}

*::placeholder {
    padding-left: 10px;
    padding-top: 5px;
}

body {
    background: rgb(161,255,0);
    background: radial-gradient(circle, rgba(161,255,0,1) 0%, rgba(254,255,254,1) 40%, rgba(16,213,255,1) 72%, rgba(83,123,236,1) 100%);
    font-family: "Pixelify Sans", serif;
    position:relative;
}

.auth-bg {
    content: "";
    display: block;
    height: 100vh;
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 10;
}

.auth{
    display: flex;
    position: fixed;
    z-index: 12;
    top: 50%;
    left: 50%;
    margin-top: -100px;
    margin-left: -150px;
}

.form__auth {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background-color: rgb(161,255,0);
    padding: 25%;
}

.form__auth input{
    padding: 5%;
    border-radius: 5px;
}

/* доп. классы */
.shadow {
    -webkit-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
    box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2);
}

.bord-rad {
    border-radius: 5px;
}

/* контейнеры */
.container {
    border-radius: 5px;
    padding: 2%;
    width: clamp(20rem, -1.2766rem + 90.7801vw, 60rem);
    background-color: rgb(242, 255, 130);
    margin: 1% auto;
}

.sub-container {
    margin: 0 auto;
    max-width: clamp(20rem, -1.2766rem + 90.7801vw, 60rem);
}

/* остальное */
.anon-form form {
    display: flex;
    flex-direction: column;
    margin: 2vh 0 0 0;
    gap: 2vh;
}

.header-h1 {
    font-size: 45px;
}

#nickname {
    max-width: 70%;
    height: 3vh;
}

#submit-btn {
    height: 3vh;
    max-width: clamp(6rem, 2.2766rem + 15.8865vw, 13rem);
}

.main-pub-block {
    display: flex;
    flex-direction: column;
    margin-top: 5%;
    gap: 4vh;
}

.main-pub-block-item {
    /* background-color: darkgrey; */
    border-radius: 5px;
    padding: 10px;
    max-width: 80%;
}

.main-pub-block-item h1 {
    background-color: white;
    max-width: fit-content;
    padding: 3px 5px;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 25px;
}

.main-pub-block-item p {
    font-weight: 600;
    font-size: 18px;
}